.payments-section {
  .filter {
    padding: 8px 0;
    display: flex;
    justify-content: flex-end;
  }

  .data {
    .data-inner {
      .row {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding-bottom: 60px;
      }
      .pie-chart {
        position: relative;
        .title {
          position: absolute;
          width: 80px;
          text-align: center;
          top: 104px;
          left: 185px;
        }
      }

      .bar-chart {
        .title {
          text-align: center;
        }
      }
    }
  }
}

.bar-filter-thing {
  margin-left: 20px !important;
  width: 100px;
}
