.dashboard {
  height: 100vh;

  .main-body {
    display: flex;
    justify-content: center;
    height: 100vh;

    .main-body-inner {
      width: 75%;

      h2 {
        color: #37474f;
      }

      .loading {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 90vh;
      }
    }
  }
}

@media only screen and (max-width: 980px) {
  .dashboard {
    .main-body {
      .main-body-inner {
        width: 95%;
      }
    }
  }
}
