.login {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #00c9ff, #92fe9d);
  display: flex;
  align-items: center;
  justify-content: center;

  .login-box {
    width: 800px;
    height: 500px;
    background-color: #fff;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.3);
    display: flex;

    .left {
      display: flex;
      flex-direction: column;
      flex: 1 1 0px;
      justify-content: center;
      align-items: center;

      .left-inner {
        width: 80%;

        .input {
          width: 100%;
        }
        .input-wrapper {
          padding: 24px 0;
        }

        button {
          width: 100%;
          margin-top: 90px;
          background-color: #ff9068;
        }
      }
    }
    .right {
      flex: 1 1 0px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
